div {
  font-size: 24px;
}

.box-1 {
  background-color: aqua;
  width: 100px;
  height: 50px;
  order: 4;
}

.box-2 {
  background-color: blueviolet;
  width: 150px;
  height: 75px;
  order: 3;
}

.box-3 {
  background-color: chartreuse;
  width: 75px;
  height: 60px;
  order: 2;
}

.box-4 {
  background-color: coral;
  width: 120px;
  height: 100px;
  order: 1;
}

.flexbox {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

/* .box-1,
.box-2,
.box-3,
.box-4 {
  display: inline-block;
} */

body {
  background-color: darksalmon;
}

@media screen and (max-width: 480px) {
  body {
    background-color: lightgreen;
  }

  .box-2 {
    border: 5px solid yellow;
  }

  .flexbox {
    flex-direction: column;
  }
}

@media screen and (orientation: landscape) {
  body {
    background-color: lightblue;
  }

  .box-3 {
    background-color: brown;
  }
}

/* .menu {
  display: flex;
  flex-direction: column;
  text-align: center;

  .row {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 480px) {
      flex-direction: column;
    }

    .item {
      width: 100px;
      height: 60px;
    }
  }

  .row:first-child {
    .item {
      background-color: orange;
      border-top: 2px solid;

      @media screen and (max-width: 480px) {
        border: none;
        border-left: 2px solid;
        border-right: 2px solid;
      }
    }

    @media screen and (max-width: 480px) {
      .item:first-child {
        border-top: 2px solid;
      }
    }

    .item:hover {
      background-color: orangered;
    }
  }

  .row:last-child {
    .item {
      background-color: chartreuse;
      border-bottom: 2px solid;

      @media screen and (max-width: 480px) {
        border: none;
        border-left: 2px solid;
        border-right: 2px solid;
      }
    }

    @media screen and (max-width: 480px) {
      .item:last-child {
        border-bottom: 2px solid;
      }
    }

    .item:hover {
      background-color: green;
    }
  }

  .item:first-child {
    border-left: 2px solid;
  }

  .item:last-child {
    border-right: 2px solid;
  }
} */

.menu {
  display: flex;
  flex-direction: column;
  text-align: center;

  .row {
    display: flex;
    flex-direction: row;

    .item {
      width: 100px;
      height: 60px;
    }
  }

  .row:first-child {
    .item {
      background-color: orange;
      border-top: 2px solid;
    }

    .item:hover {
      background-color: orangered;
    }
  }

  .row:last-child {
    .item {
      background-color: chartreuse;
      border-bottom: 2px solid;

      .item:hover {
        background-color: green;
      }
    }
  }
  .item:first-child {
    border-left: 2px solid;
  }

  .item:last-child {
    border-right: 2px solid;
  }
}

@media screen and (max-width: 480px) {
  .menu {
    .row {
      flex-direction: column;
    }

    .row:first-child {
      .item {
        border: none;
        border-left: 2px solid;
        border-right: 2px solid;
      }

      .item:first-child {
        border-top: 2px solid;
      }
    }

    .row:last-child {
      .item {
        border: none;
        border-left: 2px solid;
        border-right: 2px solid;
      }

      .item:last-child {
        border-bottom: 2px solid;
      }
    }
  }
}
