table {
  font-size: 20px;
}

caption {
  font-weight: bold;
}

thead {
  background-color: #90ee90;
}

tfoot {
  background-color: #add8e6;
  font-weight: bold;
}

.gray {
  background-color: lightgray;
}

#yellow {
  background-color: yellow;
}

.red {
  background-color: white;
  color: red;
  text-align: center;
}

.green {
  background-color: white;
  color: green;
  text-align: center;
}

.blue {
  background-color: white;
  color: blue;
  text-align: center;
}

.even-row {
  background-color: #d5d5d5;
}

.number-column {
  text-align: right;
}

.code-column {
  text-align: center;
}

#red-head,
#green-head,
#blue-head {
  text-decoration: underline;
}
