/* Додаємо кастомні стилі та шрифти */
body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
.font-serif {
  font-family: "Playfair Display", serif;
}
.hero-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/header.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
