main {
  width: 50%;
  max-width: 900px;
  margin: auto;
}

@media screen and (max-width: 1600px) {
  main {
    width: 60%;
  }
}

@media screen and (max-width: 1280px) {
  main {
    width: 70%;
  }
}

@media screen and (max-width: 1024px) {
  main {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  main {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  main {
    width: 95%;
  }
}
