* {
  box-sizing: border-box;
}

body {
  height: 200vh;
}

div {
  border: 2px solid black;
  padding: 20px;
  margin-bottom: 20px;
  width: 400px;
}

img {
  border: 1px solid red;
  width: 100%;
}

.relative {
  /* Дозволяє змінювати позицію елемента,
    але не порушує потоку 
    (розміри сторінки і батьківського елемента не змінюються) */
  position: relative;
  /* Зміщення відносно початкового положення */
  top: 100px; /* Зсув вниз від верхнього краю, від'ємні значення = рух вгору */
  left: 100px; /* Зсув праворуч від лівого краю, від'ємні значення = рух ліворуч */
  /* bottom: 50px; */ /* Зсув вгору від нижнього краю, від'ємні значення = рух вниз */
  /* right: 50px; */ /* Зсув ліворуч від правого краю, від'ємні значення = рух праворуч */
  /* На практиці використовуються лише пара властивостей: top + left або bottom + right,
  головне - уникати конфліктів */
}
