body {
  /* Фон за замовчуванням*/
  background-color: bisque;

  /* Спільне налаштування для 2х сценаріїв зображень */
  background-position: center top;

  /* Сценарій 1: Фотографічне зображення */
  /* background-image: url(Ven_basil_matin_082005.jpg); */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-size: contain; */

  /* Сценарій 2: Візерунок (паттерн) */
  background-image: url(depositphotos_23759519-stock-illustration-abstract-seamless-texture.jpg);
  background-repeat: repeat;
}

div {
  margin: auto;
  margin-bottom: 32px;
  width: 60%;
  padding: 30px;
  font-size: 24px;
}

.start {
  border: 2px solid;
  background-color: rgba(239, 22, 22, 0.54);
  color: white;
}

.line-gradient {
  background-image: linear-gradient(
    to right,
    red,
    blue 50%,
    rgb(63, 199, 115) 10%,
    #000 40%
  );

  background-image: linear-gradient(to right, red, blue 50%, green 70%);
}

.repeat-linear-gradient {
  background-image: repeating-linear-gradient(
    to left,
    red,
    yellow 10%,
    green 20%
  );
}

.radial-gradient {
  background-image: radial-gradient(coral, bisque);
}

.fs {
  height: 1000px;
}
